<div class="container my-5 pt-lg-4 pb-lg-1">
    <div class="container mt-6">
        <div class="card">
          <div class="card-header bg-primary">
            <h1 class="text-white text-center">Experiencia laboral</h1>
          </div>
  
          <div class="mt-3 card-body">
            
            <!-- Datos con la experiencia laboral -->
            <table class="table table-responsive-sm table-hover">
              <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      <span>Empresa</span>
                    </th>
                    <th scope="col">
                      <span>Per&iacute;odo</span>
                    </th>
                    <th scope="col">
                      <span>Rol</span>
                    </th>
                  </tr>
              </thead>

              <tbody>
                <tr *ngFor="let trabajo of datosPaginaService.trabajos">
                  <td>
                    <strong *ngIf="datosPaginaService.cargadoTrabajos" style="font-weight: bold;">
                      {{ trabajo.empresa }}
                    </strong>                    
                  </td>

                  <td>  
                    <span *ngIf="datosPaginaService.cargadoTrabajos" style="font-weight: bold;">
                      {{ trabajo.periodo }}
                    </span>
                  </td>

                  <td>
                    <span style="font-weight: bold;" *ngIf="datosPaginaService.cargadoTrabajos" 
                       [innerHTML]="trabajo.titular">
                    </span>
                    <p class="mt-3" *ngIf="datosPaginaService.cargadoTrabajos" 
                    [innerHTML]="trabajo.descripcion"></p>
                  </td>
                </tr>  
              </tbody>
              
            </table>
          </div>

        </div>
      </div>
</div>