<div class="container">
    <div class="card" style="width: 80%;">
        <div class="card-header bg-primary">
          <h1 class="text-center text-white">P&aacute;gina no encontrada</h1>
        </div>
        <div class="card-body">
          <p class="lead text-center">Lo sentimos, pero la p&aacute;gina a la que quiere acceder no existe.</p>
          <p class="lead text-center">Pinche <a routerLink="/inicio">aqu&iacute;</a> para ir al &iacute;ndice.</p>
        </div>
    </div>    
</div>
