.container {
  padding-top: 60px;
}

.card{
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 400px) {
  .container {
      padding-top: 80px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
      padding-top: 120px;
  }
}

@media only screen and (min-width: 816px) {
  .container {
      padding-top: 150px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
      padding-top: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
      padding-top: 90px;
  }
}